Source: deepin-file-manager-backend
Section: devel
Priority: extra
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9),
 golang-dlib-dev(>=0.4.2),
 golang-go,
 libglib2.0-dev,
 libgtk-3-dev,
 golang-github-mattn-go-sqlite3-dev,
 dde-api-dev,
 dde-go-dbus-factory,
 libdeepin-metacity-dev,
Standards-Version: 3.9.5
Homepage: http://www.deepin.com

Package: deepin-file-manager-backend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 deepin-nautilus-properties
Description: deepin file manager backend
 deepin file manager backend
